// шрифт по умолчанию
$fontfamily: "Lato";

// ---------------   ibg   ----------------
// .ibg {
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   position: relative;
// }

// .ibg img {
//   width: 0;
//   height: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 0;
//   visibility: hidden;
// }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  img{display: none;}
}

// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

// переменные
$minwidth: 320px;

html,
body {
  // есть в обнулялке для фулскрин
  height: 100%;
}

// оболочка
.wrapper {
  // полный экран + на всю высоту
  overflow: hidden;
  min-height: 100%;
}

// основная сетка
.container {
  max-width: 1130px;
  padding: 0 15px;
}

// основной блок ----    // фулскрин картинка руль адаптивная-----------------------
.page {
    // фулскрин картинка руль адаптивная
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 0;
}
.main-screen {
  // фулскрин картинка руль адаптивная
flex: 1 0 100%;
position: relative;
  &__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.content{

}
