// шрифт по умолчанию
$fontfamily:"Lato";



// переменные
$minwidth: 320px;

html,
body {
  // есть в обнулялке для фулскрин
  height: 100%;
}

// оболочка
.wrapper {
  // полный экран + на всю высоту

}

// основная сетка
.container {

}

// основной блок ---------------------------
